[Unit]
Description=Promtail service
After = network-online.target
After = syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/promtail-linux-amd64 --config.file  /etc/grafana/promtail-local-config.yaml

[Install]
WantedBy=multi-user.target
